label.MuiFormControlLabel-root {
  span.MuiSwitch-thumb {
    color: #fff !important;
    width: 15px !important;
    height: 15px !important;

    .MuiSwitch-track {
      border-radius: 15px !important;
      opacity: 1 !important;
      background-color: #4fd1c5 !important;

      .MuiSwitch-root {
        padding-top: 7px !important;
        padding-bottom: 12px !important;
        padding-right: 11px !important;
        padding-left: 5px !important;
      }
    }
  }
  span.MuiTypography-root {
    font-size: 12px !important;
  }
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #4fd1c5 !important;
  border-radius: 15px !important;
  opacity: 1 !important;
}
.css-vpkc3h-MuiSwitch-root {
  padding-top: 7px !important;
  padding-bottom: 12px !important;
  padding-right: 11px !important;
  padding-left: 5px !important;
}
.css-1yjjitx-MuiSwitch-track {
  border-radius: 15px !important;
}
