.rockets {
  padding-top: 20px;
  background-image: url("../../../public/img/rocketBG.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px !important;
}
@media (max-width: 576px) {
  .rockets {
    padding: 15px !important;
  }
}
